<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>

<body>
    <div class="elgamal">
        <div class="generateKey">
            <form action="/generateKey" method="post">
                <label for="key">Key</label><br>
                <textarea name="key" cols="20" rows="5"><%=signature.key%></textarea>
                <input type="submit" value="Generate key">
            </form>
            <form action="/text" method="post">
                <label for="key">Key</label><br>
                <textarea name="key" cols="20" rows="5"><%=signature.key%></textarea><br>
                <label for="text">Text</label><br>
                <textarea name="text" cols="20" rows="5"></textarea><br>
                <button type="submit">Sign</button><br>
                <label for="signature">Signature</label> <br>
                <textarea name="signature" cols="20" rows="5"><%=signature.sign%></textarea>
            </form>
            <form action="/verifyText" method="post">
                <label for="key">Key</label><br>
                <textarea name="key" cols="20" rows="5"><%=signature.key%></textarea><br>
                <label for="text">Text</label><br>
                <textarea name="text" cols="20" rows="5"></textarea><br>
                <label for="signature">Signature</label> <br>
                <textarea name="signature" cols="20" rows="5"></textarea><br>
                <button type="submit">Verify</button><br>
                <label for="">Signature</label> <br>
                <textarea name="" cols="20" rows="5"><%= message.mess%></textarea>
            </form>
        </div>
    </div>
</body>

</html>