<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElGamal DSA</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
</head>

<body>
    <div class="test">
        <h2>Message: <%= message.mess %>
        </h2>
        <h2>Sinh khóa</h2>
        <form action="/generateKey" method="post" id="generateKey">
            <div class="user-box">
                <input type="text" name="key" value="<%=signature.key%>">
                <label>Khóa</label>
            </div>
            <div class=" user-box">
                <a onclick=" document.getElementById('generateKey').submit()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Sinh khóa
                </a>
                <a href="/reset">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Reset
                </a>
            </div>
        </form>
    </div>
    <div class="elgamal">
        <h2>Gửi</h2>
        <form action="/signText" method="post" id="signText">
            <div class="user-box">
                <input type="text" name="key" value="<%=signature.key%>"><br>
                <label>Khóa</label>
            </div>
            <div class="user-box">
                <!-- <input type="text" name="text" value="<%=signature.text%>"><br> -->
                <textarea name="text" cols="30" rows="4"><%=signature.text%></textarea><br>
                <label>Văn bản</label>
            </div>
            <div class=" user-box">
                <a onclick=" document.getElementById('signText').submit()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Ký
                </a>
                <a onclick="move()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Chuyển
                </a>
            </div><br>
            <div class="user-box">
                <input type="text" name="sign" value="<%=signature.sign%>">
                <label>Chữ ký</label>
            </div>
        </form><br>
        <h2>Nhận</h2>
        <form action="/verifyText" method="post" id="verifyText">
            <div class="user-box">
                <input type="text" name="key" value="<%=signature.key%>">
                <label>Khóa</label>
            </div>
            <div class="user-box">
                <textarea name="text" cols="30" rows="4"></textarea><br>
                <label>Văn bản</label>
            </div>
            <div class="user-box">
                <input type="text" name="sign">
                <label>Chữ ký</label>
            </div>
            <div class=" user-box">
                <a onclick=" document.getElementById('verifyText').submit()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Xác thực
                </a>
            </div>
        </form>
    </div>
    <div class="test2">
        <h2>Đọc file</h2>
        <form action="/readingFile" method="post" id="readingFile" enctype="multipart/form-data">
            <div class="user-box">
                <input type="file" name="file_sign">
                <label>File</label>
            </div>
            <div class=" user-box">
                <a onclick=" document.getElementById('readingFile').submit()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Đọc file
                </a>
                <a href="/clear">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    clear
                </a>
            </div>
        </form>
    </div>
</body>

</html>